

#newGrid {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.square {
  border: 1px solid green;
  box-sizing: border-box;
}


.square:hover {
  background-color: rgb(218, 238, 105);
}